.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .search-bar input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: lab(81.96% 3.76 -18.39);
    border: 1px solid #555;
    color: #120202;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #217ded;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
  }